* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* position:fixed; */
  width: 100%;
  overflow: vertical;
  height: fit-content;
}

.HOME {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.body1 {
  position: relative;
  width: 100%;
  height: 75em;
  background-color: rgb(234, 234, 234);}


.body1 .COVER {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 0 5.5em;
  
  background-color: aquamarine;
}
.body1 .CONTROL {
  position: relative;
}
.body1 .motion {
  position:sticky;
  width: 10em;
  height: 10em;
  top:30%;
  left:20%;
  background-color: brown;
  background-size: 100% 100%;
  cursor: pointer;
}
.body1 .illustration{
  position:sticky;
  width: 10em;
  height: 10em;
  top:50%;
  left: 15%;
  background-color: brown;
  background-size: 100% 100%;
  cursor: pointer;
}
.NAVBAR {
  z-index: 10; /* Valid value for z-index */
  position: fixed;
  top: 0; /* Ensure it sticks to the top */
  left: 0; /* Align to the left edge */
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute space between items */
  align-items: end;
  bottom: 0;/* Center items vertically */
  width: 100%;
  height: 4em;
  border: 1px solid black; /* Correct syntax for border */
  padding: 0 2em; /* Add some padding on the sides */
  background-color: white;
}
.NAVBAR .WORKABOUT {
  display: block;
}
.NAVBAR .ABOUT {
  padding: 0 0 0 2em;
}

.bottom {
  display: block;
  top: 0;
  width: 100%;
  height: 65em;
  background-color: brown;
  overflow: hidden;
  position: sticky;
}
.bottom .poop {
  display: flex;
  width:100%;
  height:5em;
  margin-top: 66em;
  background-color: aqua;
  justify-content: center;
  align-content:center;
}
.bottom .ilovepoop {
  font-size: 2em;
  display: flex;
  align-content: center;
  padding: 0.5em 0 0 0;
}





